<div class="row">
  <div class="col-sm-12">
    <%= form_with(url: distributes_path, method: :post, local: true) do |f| %>

      <h3 class="text-left">分配情報</h3>
      <div class="form-group form-inline col-sm-12 border pt-3 pb-3">
        <div class="form-inline col-sm-4">
          <%= f.label :product_id, '対象商品', class: 'col-sm-5' %>
          <%= f.collection_select :product_id, Product.all, :id, :name, :include_blank => true, class: 'col-sm-5' %>
        </div>
        <div class="form-inline col-sm-3">
          <%= f.label :date, '日付', class: 'col-sm-4' %>
          <%= f.date_select :date, class: 'form-control', :use_month_numbers => true %>
        </div>
        <div class="form-inline col-sm-4">
          <%= f.label :dist_num, '分配数' , class: 'col-sm-5' %>
          <%= f.text_field :dist_num, class: 'form-control col-sm-7' %>
        </div>
      </div>
      <h3 class="text-left pt-3">各店舗振分在庫</h3>
      <div class="form-group mt-2 border pt-3 pb-3">
        <% i = 0 %>
        <% @stores.each do |store| %>
          <div class="form-inline offset-sm-2 col-sm-7 mb-2">
            <%= f.label "store_name_#{i}", store.name , class: 'form-label col-sm-7 text-left' %>
            <%= f.text_field "num_#{i}", class: 'form-control text-right col-sm-4' %>
            <%= f.hidden_field "store_id_#{i}", value: store.id %>
            <% i = i + 1 %>
            <%= f.hidden_field "store_max", value: i %>
          </div>
        <% end %>
      </div>
      
      <%= f.submit '登録', class: 'btn btn-primary btn-block offset-sm-4 col-sm-4' %>
    <% end %>
  </div>
</div>